#!/usr/bin/python

import string
import time
# pycurl does not work on VM
import subprocess

nodes = []
P2P_PORT = "46656"
RPC_PORT = "46657"

current_node = "{{inventory_hostname}}"
{% for host in groups['rpis'] %}
nodes.append("{{host}}")
{% endfor %}

time.sleep(1)

for i, host in enumerate(nodes):
    if host != current_node:
        continue
    seeds = []
    j = 1
    for j in range(0, (len(nodes)) / 2):
        seeds.append(nodes[(i + j + 1) % len(nodes)])
        if len(nodes) == 2:
            break

    # print(host + " connects to " + string.join(seeds))

    port_suffix = ":" + P2P_PORT + "\""
    json_msg = "seeds=[\"" + \
        string.join(seeds, port_suffix + ", \"") + port_suffix + "]"
    url = host + ":" + RPC_PORT + "/dial_seeds"
    subprocess.call(["curl", "--data-urlencode", json_msg, url])
