version: '2'
services:
  #indigoexplorer:
  #  image: stratumn/indigo-explorer:v0.5.0
  #  ports:
  #  - "4000:4000"
  agent:
    build:
      dockerfile: Dockerfile.dev
      context: agent
    ports:
    - "3000:3000"
    volumes:
    - ./agent:/src/server
    depends_on:
    - store
  store:
    image: stratumn/rpi-tmstore:master
    command: [tmstore, -endpoint, "tcp://tmapp:46657"]
    depends_on:
    - tmapp
  tmapp:
    image: stratumn/rpi-filetmpop:master
    command: [filetmpop, -home, /data/tendermint, -rules_filename, /data/tendermint/validation_rules.json, -log_level, debug, -unsafe]
    ports:
    - 46656:46656
    - 46657:46657
    volumes:
    - "{{ tendermint_dir }}:/data/tendermint"
    - /var/stratumn/filestore:/var/stratumn/filestore
    extra_hosts:
    {% for host in groups['rpis'] %}
      - "{{ host }}:{{ hostvars[host].ansible_eth0.ipv4.address }}"
    {% endfor %}
    # meant as a temporary workaround so that tendermint can write in /data/tendermint
    user: root
